# <span style="color:blue"> MBA em Ciência de Dados</span>
# <span style="color:blue">Programação para Ciência de Dados</span>

## <span style="color:blue">Python Parte I: Avaliação</span>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**

<font color='red'> As respostas devem ser fornecidas no Moodle. O notebook é apenas para a implementação dos códigos que fornecerão as respostas</font>

### Exercício 1
Considere a lista `lt` abaixo. Escreva um código para calcular quantos elementos da lista são divisíveis simultaneamente por 3 e por 5.

a) Número de elementos divisiveis por 3 e por 5 simultaneamente = 2<br>
b) Número de elementos divisiveis por 3 e por 5 simultaneamente = 3<br>
c) Número de elementos divisiveis por 3 e por 5 simultaneamente = 4<br>
d) Número de elementos divisiveis por 3 e por 5 simultaneamente = 5

In [4]:
import pandas as pd

In [2]:
lt = [99, 128, 185, 19, 215, 493, 104, 78, 248, 299, 278, 141, 467, 212, 465, 130, 320, 35, 148, 351, 
       176, 366, 373, 256, 314, 354, 188, 259, 443, 81, 447, 313, 368, 197, 185, 328, 275, 269, 153, 
       495, 155, 312, 87, 141, 413, 129, 106, 44, 245, 479]

# escreva a solução aqui

cont = 0
for item in lt:
       if item % 3 == 0 and item % 5 == 0:
              cont += 1

cont

2

### Exercício 2
Considere a lista `palavras` abaixo. Escreva um código para contar quantas vezes a letra 'e' e a letra 'i' aparecem na lista.

a) 'e': 51 vezes; 'i': 56 vezes<br>
b) 'e': 23 vezes; 'i': 13 vezes<br>
c) 'e': 34 vezes; 'i': 36 vezes<br>
d)'e': 44 vezes; 'i': 26 vezes

In [3]:
palavras = ['adeus','adoravel','amor','caminhos','chuva','coragem','cuidar','equilibrio',
            'esperanca','felicidade','gentilezas','liberdade','melancolia','paz','respeito',
            'riso','saudade','palimpsesto','perfeito','reciproco','recomeçar',
            'resiliente','sentir','silencio','imprescindivel','sublime','tertulias','histerossalpingografico',
            'pluridisciplinaridade','multidimensional']

# escreva a solução aqui

conte = 0
conti = 0
for palavra in palavras:
    for letra in palavra:
        if letra == 'e':
            conte += 1
        elif letra == 'i':
            conti += 1

print(conte)
print(conti)

34
36

---

Os exercícios de 3 a 5 abaixo fazem uso da lista de tuplas `dados_deputados` definida abaixo. Cada elemento da lista corresponde a uma tupla com nome de um deputado, estado e partido ao qual o deputado pertence e o valor de reembolso solicitado em um determinado mês do ano, ou seja:

```python
dados_deputados = [(NOME, ESTADO, PARTIDO, VALOR),
                   (NOME, ESTADO, PARTIDO, VALOR),
                    ...
                   (NOME, ESTADO, PARTIDO, VALOR)]
```

In [6]:
dados_deputados = [('JOSE STEDILE', 'RS', 'PSB', 106.03), ('BENITO GAMA', 'BA', 'PTB', 46.82),
                   ('LUCIO VIEIRA LIMA', 'BA', 'PMDB', 332.0), ('FABIO REIS', 'SE', 'PMDB', 80.0), 
                   ('LUIZA ERUNDINA', 'SP', 'PSOL', 5.7), ('MAURO MARIANI', 'SC', 'PMDB', 526.68), 
                   ('MAJOR OLIMPIO', 'SP', 'SD', 38.1), ('BETINHO GOMES', 'PE', 'PSDB', 12000.0), 
                   ('PAULO ABI-ACKEL', 'MG', 'PSDB', 972.72), ('EZEQUIEL TEIXEIRA', 'RJ', 'PTN', 50.0), 
                   ('ADELMO CARNEIRO LEÃO', 'MG', 'PT', 709.72), ('HISSA ABRAHAO', 'AM', 'PDT', 1379.58), 
                   ('PAES LANDIM', 'PI', 'PTB', 1091.66), ('ANDRES SANCHEZ', 'SP', 'PT', 61.4), 
                   ('JOZI ARAUJO', 'AP', 'PTN', 141.0), ('ROBERTO FREIRE', 'SP', 'PPS', 161.88), 
                   ('ELIZIANE GAMA', 'MA', 'PPS', 546.73), ('CACA LEAO', 'BA', 'PP', 77.5), 
                   ('DIMAS FABIANO', 'MG', 'PP', 185.0), ('SILVIO TORRES', 'SP', 'PSDB', 233.0), 
                   ('RICARDO TEOBALDO ', 'PE', 'PTN', 50.0), ('ZECA DIRCEU', 'PR', 'PT', 499.29), 
                   ('ROCHA', 'AC', 'PSDB', 152.9), ('LAUDIVIO CARVALHO', 'MG', 'SD', 15.6), 
                   ('CRISTIANE BRASIL', 'RJ', 'PTB', 240.45), ('FABIO SOUSA', 'GO', 'PSDB', 81.0), 
                   ('CARLOS MANATO', 'ES', 'SD', 124.9), ('GONZAGA PATRIOTA', 'PE', 'PSB', 6.0), 
                   ('LUIZ COUTO', 'PB', 'PT', 868.83), ('EZEQUIEL TEIXEIRA', 'RJ', 'PTN', 710.45), 
                   ('MAURO LOPES', 'MG', 'PMDB', 92.6), ('MARCIO ALVINO', 'SP', 'PR', 5.2),
                   ('ALEX SANTANA','BA','PDT',137.8),('AELTON FREITAS','MG','PR',27.9)]

### Exercício 3
Escreva um código para calcular o valor total dos reembolsos solicitado.

a) 19783.71<br>
b) 21758.44<br>
c) 27136.50<br>
d) 42313.13

In [7]:
# escreva a solução aqui
df = pd.DataFrame(dados_deputados, columns = ('NOME', 'ESTADO', 'PARTIDO', 'VALOR'))
df

                    NOME ESTADO PARTIDO     VALOR
0           JOSE STEDILE     RS     PSB    106.03
1            BENITO GAMA     BA     PTB     46.82
2      LUCIO VIEIRA LIMA     BA    PMDB    332.00
3             FABIO REIS     SE    PMDB     80.00
4         LUIZA ERUNDINA     SP    PSOL      5.70
5          MAURO MARIANI     SC    PMDB    526.68
6          MAJOR OLIMPIO     SP      SD     38.10
7          BETINHO GOMES     PE    PSDB  12000.00
8        PAULO ABI-ACKEL     MG    PSDB    972.72
9      EZEQUIEL TEIXEIRA     RJ     PTN     50.00
10  ADELMO CARNEIRO LEÃO     MG      PT    709.72
11         HISSA ABRAHAO     AM     PDT   1379.58
12           PAES LANDIM     PI     PTB   1091.66
13        ANDRES SANCHEZ     SP      PT     61.40
14           JOZI ARAUJO     AP     PTN    141.00
15        ROBERTO FREIRE     SP     PPS    161.88
16         ELIZIANE GAMA     MA     PPS    546.73
17             CACA LEAO     BA      PP     77.50
18         DIMAS FABIANO     MG      PP    185.00
19         SILVIO TORRES     SP    PSDB    233.00
20     RICARDO TEOBALDO      PE     PTN     50.00
21           ZECA DIRCEU     PR      PT    499.29
22                 ROCHA     AC    PSDB    152.90
23     LAUDIVIO CARVALHO     MG      SD     15.60
24      CRISTIANE BRASIL     RJ     PTB    240.45
25           FABIO SOUSA     GO    PSDB     81.00
26         CARLOS MANATO     ES      SD    124.90
27      GONZAGA PATRIOTA     PE     PSB      6.00
28            LUIZ COUTO     PB      PT    868.83
29     EZEQUIEL TEIXEIRA     RJ     PTN    710.45
30           MAURO LOPES     MG    PMDB     92.60
31         MARCIO ALVINO     SP      PR      5.20
32          ALEX SANTANA     BA     PDT    137.80
33        AELTON FREITAS     MG      PR     27.90

In [8]:
df['VALOR'].sum()

21758.440000000002

         NOME  ESTADO  VALOR
PARTIDO
PSOL        1       1      1
PDT         2       2      2
PP          2       2      2
PPS         2       2      2
PR          2       2      2
PSB         2       2      2
PTB         3       3      3
SD          3       3      3
PMDB        4       4      4
PT          4       4      4
PTN         4       4      4
PSDB        5       5      5

### Exercício 4
Escreva um código para encontrar qual estado possui o menor valor total de reembolsos, ou seja, somando os reembolsos de todos os deputados de cada estado, qual estado possui o menor valor de reembolso? Qual é o estado e o valor encontrados?

__Dica:__ Crie um dicionário onde as chaves são os estados.

a) AP, 141.60<br>
b) RS, 106.03<br>
c) GO, 81.00<br>
d) SE, 80.00

In [17]:
# escreva a solução aqui
df.groupby(by = 'ESTADO').sum().sort_values(by = 'VALOR', ascending= True)

           VALOR
ESTADO
SE         80.00
GO         81.00
RS        106.03
ES        124.90
AP        141.00
AC        152.90
PR        499.29
SP        505.28
SC        526.68
MA        546.73
BA        594.12
PB        868.83
RJ       1000.90
PI       1091.66
AM       1379.58
MG       2003.54
PE      12056.00

### Exercício 5
Escreva um código para encontrar qual partido requisitou o menor número de reembolsos (não o valor, mas sim o número de vezes solicitadas).
Qual o partido e a quantidade de vezes solicitadas?

a) PTB, 3 vezes<br>
b) PT, 2 vezes<br>
c) PSOL, 1 vez<br>
d) PMDB, 5 vezes

In [18]:
# escreva a solução aqui
df.groupby(by = 'PARTIDO').count().sort_values(by = 'VALOR', ascending= True)

         NOME  ESTADO  VALOR
PARTIDO
PSOL        1       1      1
PDT         2       2      2
PP          2       2      2
PPS         2       2      2
PR          2       2      2
PSB         2       2      2
PTB         3       3      3
SD          3       3      3
PMDB        4       4      4
PT          4       4      4
PTN         4       4      4
PSDB        5       5      5