# Pandas I - Semana 6 - Programa√ß√£o para Ci√™ncia de Dados
**Plant√£o 2:** [Jadson Oliveira](https://www.linkedin.com/in/jadsonjjmo/)  
Quarta-feira (02/03/2022)

## O que √© o **Pandas**?
√â uma biblioteca, desenvolvida em python, de c√≥digo aberto e amplamente utilizada para an√°lise e manipula√ß√£o de dados.

### Benef√≠cios e facilidades da biblioteca


*   Possui in√∫meras funcionalidades e m√©todos implementados sob as libs [numpy](https://numpy.org/) e [matplotlib](https://matplotlib.org/);
*   Comunidade muito ativa (Stack Overflow sempre ajuda os necessitados üòÄ);
*   Documenta√ß√£o muito bem escrita e cheia de exemplos;
*   Funciona muito bem em conjunto com outras libs muito utilizadas (Sklearn, numpy, matplotlib, seaborn, etc).


### Tr√™s tipos de estruturas implementadas pelo pandas:
- Series (S√©ries)
- DataFrame
- Panel (estrutura descontinuada, portanto n√£o ser√£o abordados neste curso)


### Links √∫teis
*   10 minutes to Pandas - https://pandas.pydata.org/docs/user_guide/10min.html#min
*   Essencial basic functionality - https://pandas.pydata.org/docs/user_guide/basics.html
*   Intro to data structures - https://pandas.pydata.org/docs/user_guide/dsintro.html
* Pandas Python: vantagens e como come√ßar - [https://harve.com.br/blog/programacao-python-blog](https://harve.com.br/blog/programacao-python-blog/pandas-python-vantagens-e-como-comecar/)
* Como usar loc e iloc - https://medium.com/horadecodar/data-science-tips-02-como-usar-loc-e-iloc-no-pandas-fab58e214d87

# Aprendendo na Pr√°tica!

## Desafio
### Analisar o conjunto de dados **World Hapiness Report**, que cont√©m dados de uma pesquisa hist√≥rica utilizada para avaliar o estado de felicidade global. As an√°lises ser√£o feitas para responder algumas perguntas atrav√©s de comandos b√°sicos do Pandas.

![Imagem de bolas amarelas com emoji de felicidade](https://img.dtnext.in/Articles/2021/Aug/202108110923357937_Support-your-happiness-with-positive-psychology_SECVPF.gif)

Imagem extra√≠da do site [https://img.dtnext.in](https://img.dtnext.in/Articles/2021/Aug/202108110923357937_Support-your-happiness-with-positive-psychology_SECVPF.gif)

### Sobre o conjunto de dados

- Utilizaremos a √∫ltima vers√£o do estudo realizado, ano 2021;
- O relat√≥rio completo e todos os dados podem ser encontrados [neste link](https://worldhappiness.report/);

#### Tabela com informa√ß√µes sobre as colunas do conjunto de dados

| Nome da Coluna | Significado | Refer√™ncia |
|--- |--- |--- |
| nome_pais | Nome do pa√≠s | - |
| ano | Ano de refer√™ncia em que os √≠ndices foram calculados | - |
| pontuacao | Pontua√ß√£o referente ao grau de felicidade do pa√≠s | quanto maior melhor |
| pib | PIB per-capita m√©dio no ano de refer√™ncia | quanto maior melhor |
| assistencia_social | Grau de suporte social oferecido pelo pa√≠s | quanto maior melhor |
| expectativa_vida | Expectativa de vida m√©dia dos habitantes do pa√≠s no atual ano refer√™ncia | quanto maior melhor |
| grau_liberdade | Grau m√©dio de liberdade de escolhas do pa√≠s | quanto maior melhor |
| grau_generosidade | Grau m√©dio de generosidade | quanto maior melhor |
| grau_corrupcao | Grau m√©dio de corrup√ß√£o no ano correspondente | quanto menor melhor |

### Importando as bibliotecas necess√°rias

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

### **Exerc√≠cio 01**: Utilizando a biblioteca Pandas, leia o conjunto de dados disponibilizado neste plant√£o (chamado "dataset.csv") e salve em uma vari√°vel chamada *df_happiness*.

In [ ]:
df_happiness = pd.read_csv('dataset.csv')

### **Exerc√≠cio 02**: Imprima a quantidade de linhas e colunas de *df_happiness*.

In [ ]:
df_happiness.shape

(1949, 9)

### **Exerc√≠cio 03**: Imprima as primeiras 5 linhas do conjunto de dados.

In [ ]:
df_happiness.head(5)

     nome_pais   ano  ...  grau_generosidade  grau_corrupcao
0  Afghanistan  2008  ...              0.168           0.882
1  Afghanistan  2009  ...              0.190           0.850
2  Afghanistan  2010  ...              0.121           0.707
3  Afghanistan  2011  ...              0.162           0.731
4  Afghanistan  2012  ...              0.236           0.776

[5 rows x 9 columns]

### **Exerc√≠cio 04**: Quais os nomes das colunas que comp√µem o conjunto de dados?

In [ ]:
df_happiness.columns.tolist()

['nome_pais',
 'ano',
 'pontuacao',
 'pib',
 'assistencia_social',
 'expectativa_vida',
 'grau_liberdade',
 'grau_generosidade',
 'grau_corrupcao']

### **Exerc√≠cio 05**: Quais s√£o os tipos de cada uma das colunas?

In [ ]:
df_happiness.dtypes

nome_pais              object
ano                     int64
pontuacao             float64
pib                   float64
assistencia_social    float64
expectativa_vida      float64
grau_liberdade        float64
grau_generosidade     float64
grau_corrupcao        float64
dtype: object

### **Exerc√≠cio 06**: Quais s√£o os anos presentes no hist√≥rico do relat√≥rio?

In [ ]:
df_happiness['ano'].sort_values().unique()

array([2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020])

### **Exerc√≠cio 07**: Qual o pa√≠s com maior pontua√ß√£o de felicidade no ano de 2020?

In [ ]:
df_happiness[df_happiness['ano'] == 2020].sort_values(by='pontuacao', ascending=False).head(1)

    nome_pais   ano  ...  grau_generosidade  grau_corrupcao
563   Finland  2020  ...             -0.116           0.164

[1 rows x 9 columns]

### **Exerc√≠cio 08**: Qual o pa√≠s com menor pontua√ß√£o de felicidade no ano de 2020?

In [ ]:
df_happiness[df_happiness['ano'] == 2020].sort_values(by='pontuacao', ascending=True).head(1)

     nome_pais   ano  ...  grau_generosidade  grau_corrupcao
1948  Zimbabwe  2020  ...             -0.009           0.789

[1 rows x 9 columns]

### **Exerc√≠cio 09**: Qual o pa√≠s com maior pontua√ß√£o de felicidade no ano de 2019?

In [ ]:
df_happiness[df_happiness['ano'] == 2019].sort_values(by='pontuacao', ascending=False).head(1)

    nome_pais   ano  ...  grau_generosidade  grau_corrupcao
562   Finland  2019  ...             -0.052           0.195

[1 rows x 9 columns]

### **Exerc√≠cio 10**: Qual o pa√≠s com menor pontua√ß√£o de felicidade no ano 2019?

In [ ]:
df_happiness[df_happiness['ano'] == 2019].sort_values(by='pontuacao', ascending=True).head(1)

      nome_pais   ano  ...  grau_generosidade  grau_corrupcao
11  Afghanistan  2019  ...             -0.108           0.924

[1 rows x 9 columns]

### **Exerc√≠cio 11**: Quais os pa√≠ses com maior pontua√ß√£o de felicidade de 2005 at√© 2020?

In [ ]:
list_happiness_gt = []
list_year = df_happiness['ano'].unique().tolist()

# iterando sob todos os anos, buscando o pa√≠s com maior score de felicidade para o ano correspondente
for year in list_year:
  best_country = df_happiness[df_happiness['ano'] == year].sort_values(by='pontuacao', ascending=False).head(1).index[0]
  list_happiness_gt.append(best_country)

# capturando o conjunto de pa√≠ses pelo √≠ndice deles
df_happiness.iloc[list_happiness_gt]

        nome_pais   ano  ...  grau_generosidade  grau_corrupcao
451       Denmark  2008  ...              0.272           0.248
452       Denmark  2009  ...              0.264           0.206
453       Denmark  2010  ...              0.242           0.175
454       Denmark  2011  ...              0.298           0.220
1654  Switzerland  2012  ...              0.139           0.323
300        Canada  2013  ...              0.316           0.406
457       Denmark  2014  ...              0.118           0.237
1304       Norway  2015  ...              0.257           0.299
559       Finland  2016  ...             -0.027           0.250
560       Finland  2017  ...             -0.002           0.192
561       Finland  2018  ...             -0.127           0.199
562       Finland  2019  ...             -0.052           0.195
450       Denmark  2007  ...              0.240           0.206
563       Finland  2020  ...             -0.116           0.164
551       Finland  2006  ...             -0.005           0.132
449       Denmark  2005  ...                NaN           0.237

[16 rows x 9 columns]

### **Exerc√≠cio 12**: Quais os pa√≠ses com menor pontua√ß√£o de felicidade de 2005 at√© 2020?

In [ ]:
list_happiness_gt = []
list_year = df_happiness['ano'].unique().tolist()

# iterando sob todos os anos, buscando o pa√≠s com maior score de felicidade para o ano correspondente
for year in list_year:
  best_country = df_happiness[df_happiness['ano'] == year].sort_values(by='pontuacao', ascending=True).head(1).index[0]
  list_happiness_gt.append(best_country)

# capturando o conjunto de pa√≠ses pelo √≠ndice deles
df_happiness.iloc[list_happiness_gt]

                     nome_pais   ano  ...  grau_generosidade  grau_corrupcao
1728                      Togo  2008  ...             -0.055           0.932
1700                  Tanzania  2009  ...              0.308           0.903
1701                  Tanzania  2010  ...              0.139           0.866
1729                      Togo  2011  ...             -0.070           0.832
1666                     Syria  2012  ...              0.316           0.673
1667                     Syria  2013  ...              0.225           0.663
1730                      Togo  2014  ...             -0.085           0.795
990                    Liberia  2015  ...             -0.061           0.903
311   Central African Republic  2016  ...              0.033           0.859
9                  Afghanistan  2017  ...             -0.121           0.954
10                 Afghanistan  2018  ...             -0.094           0.928
11                 Afghanistan  2019  ...             -0.108           0.924
1935                  Zimbabwe  2007  ...             -0.082           0.946
1948                  Zimbabwe  2020  ...             -0.009           0.789
1727                      Togo  2006  ...             -0.007           0.850
1753                    Turkey  2005  ...                NaN           0.877

[16 rows x 9 columns]

### **Exerc√≠cio 13**: Quais os 10 pa√≠ses com maior grau de corrup√ß√£o em 2020?

In [ ]:
df_happiness[df_happiness['ano'] == 2020].sort_values(by='grau_corrupcao', ascending=False).head(10)

                   nome_pais   ano  ...  grau_generosidade  grau_corrupcao
422                  Croatia  2020  ...             -0.063           0.961
1807                 Ukraine  2020  ...              0.126           0.946
1137                 Moldova  2020  ...             -0.058           0.941
944               Kyrgyzstan  2020  ...              0.103           0.931
1726                Thailand  2020  ...              0.273           0.918
205   Bosnia and Herzegovina  2020  ...              0.138           0.916
1279                 Nigeria  2020  ...              0.099           0.913
1580            South Africa  2020  ...             -0.015           0.912
918                   Kosovo  2020  ...                NaN           0.910
1545                Slovakia  2020  ...             -0.075           0.901

[10 rows x 9 columns]

### **Exerc√≠cio 14**: Qual o grau de corrup√ß√£o do Brasil em 2020?

In [ ]:
df_happiness[((df_happiness['ano'] == 2020) & (df_happiness['nome_pais'] == 'Brazil'))]

    nome_pais   ano  ...  grau_generosidade  grau_corrupcao
232    Brazil  2020  ...             -0.053           0.729

[1 rows x 9 columns]

### **Exerc√≠cio 15**: Em qual posi√ß√£o o Brasil fica, levando em considera√ß√£o o grau de corrup√ß√£o?

In [ ]:
df_temp = df_happiness[df_happiness['ano'] == 2020].sort_values(by='grau_corrupcao', ascending=False).reset_index()
df_temp[df_temp['nome_pais'] == 'Brazil']

    index nome_pais   ano  ...  grau_liberdade  grau_generosidade  grau_corrupcao
55    232    Brazil  2020  ...           0.786             -0.053           0.729

[1 rows x 10 columns]

### **Exerc√≠cio 16**: Em qual posi√ß√£o o Brasil fica, levando em considera√ß√£o o grau de felicidade?

In [ ]:
df_temp = df_happiness[df_happiness['ano'] == 2020].sort_values(by='pontuacao', ascending=False).reset_index()
df_temp[df_temp['nome_pais'] == 'Brazil']

    index nome_pais   ano  ...  grau_liberdade  grau_generosidade  grau_corrupcao
40    232    Brazil  2020  ...           0.786             -0.053           0.729

[1 rows x 10 columns]