In [ ]:
## todos os imports na primeira célula
import pandas as pd
import numpy as np

In [2]:
# removendo valores de uma lista que constam em outra
pessoas = ['Miguel','Sophia','Davi','Alice','Arthur','Julia','Pedro','Isabella','Gabriel','Manuela','Laura']
remover = ['Sophia','Davi','Alice']

saida = list(set(pessoas) - set(remover))
print(saida)

['Manuela', 'Gabriel', 'Miguel', 'Arthur', 'Julia', 'Laura', 'Isabella', 'Pedro']

In [1]:
# removendo ocorrências duplicadas
pessoas = ['Miguel','Sophia','Davi','Alice','Arthur','Julia','Pedro','Isabella','Gabriel','Manuela','Laura','Gabriel','Manuela']

saida = list(set(pessoas))
print(saida)

['Alice', 'Manuela', 'Gabriel', 'Miguel', 'Sophia', 'Arthur', 'Julia', 'Laura', 'Davi', 'Isabella', 'Pedro']

In [ ]:
###### Exercicio 4:

#### laço sem condicional
#### lista = [<saida> for <variavel> in objeto]

#### laço somente com if
#### lista = [expressao for variavel in objeto if condicao]

### laço if else
### lista = [expre if condicao else resultadoFalso for variavel in objeto]

pessoas_upper = []
for n in pessoas:
  if n[-1] in 'aeiou':
    pessoas_upper.append(n[:-1]+n[-1].upper())
  else:
    pessoas_upper.append(n)

pessoas_upper = [n[:-1]+n[-1].upper() if n[-1] in 'aeiou' else n for n in pessoas]

In [14]:
##### Exercício 6

numeros = [1, 5, 1, 4, 3, 2, 4, 0, 0, 0, 3, 0, 2, 1, 0, 0, 4, 0, 5, 4]

d = {}
for i in range(6):
  d[i] = numeros.count(i)

print(d)

{0: 7, 1: 3, 2: 2, 3: 2, 4: 4, 5: 2}